<ion-header color="primary">
  <ion-toolbar color="primary">
    
    <ion-title> Nuevo gatito </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre gato</ion-label>
      <ion-input type="text" [(ngModel)]="producto.name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Raza</ion-label>
      <ion-input type="text" [(ngModel)]="producto.breed" formControlName="breed"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.age" formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nacimiento</ion-label>
      <ion-textarea type="date" [(ngModel)]="producto.birthdate" formControlName="birthdate"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="producto.description" formControlName="description"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!productForm.valid">Submit</ion-button>
  </form>
</ion-content>